<%- include("partials/header")-%>
    <!-- // as now we have shifted the files it the partials folder in the vews -->

    <h1>Compose Your Blog</h1>
    <form method="post" action="/compose">
        <div class="form-group">
            <label id="title">New Task</label>
            <input class="form-control" type="text" placeholder="enter text" name="newtask" id="task">
            <label id="textarea">Text</label>
            <textarea class="form-control" id="textarea" name="taskbody" rows="4" cols="100"></textarea>
            <input type="date" id="dateInput" name="date"/>
            <input type="text" name="status" placeholder="done or Not done"/> 
        </div>
        <button class="btn btn-primary" type="submit" name=" button">Submit Me</button>
    </form>

    <%- include("partials/footer")-%>
